<div class='well'>
  Home
  <ul class='list-group'>
    <li class='list-group-item'>
      Add a server side route to for service type details
      <br />
      /api/serviceTypes/:id
    </li>
    <li class='list-group-item'>
      Link each service type on the Service Types page to a service type details page
      <br />
      /serviceTypes/:id
    </li>
    <li class='list-group-item'>
      The service type details page should show all the services for that service type
    </li>
  </ul>
</div>
