<div>
  <h2>GlamSquad Coding Challenge</h2>
  <div class='well'>
    <object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/bwB3qMFjZmM&hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/bwB3qMFjZmM&hl=en&fs=1" type="application/x-shockwave-flash" allowfullscreen="true" width="425" height="344"></embed></object>
  </div>
  <div class='panel panel-default'>
    <div class='panel panel-heading'>
      Feature One - New Server Side Routes
    </div>
    <div class='panel panel-body'>
      <ul>
        <li>
          add a server side route which returns a single category along with all of it's services.
          <br />
          <em>GET: /api/categories/:categoryId</em>
        </li>
        <li>
          add a server side route which deletes a service from a category
          <br />
          <em>DELETE: /api/categories/:categoryId/services/:id</em>
        </li>
        <li>
          add a server side route which adds a service to a category
          <br />
          <em>POST: /api/categories/:categoryId/services</em>
          <br />
          EXAMPLE PAYLOAD: { name: 'a new service' }
        </li>
    </div>
  </div>
  <div class='panel panel-default'>
    <div class='panel panel-heading'>
      Feature Two - Show Category Details 
    </div>
    <div class='panel panel-body'>
      Create front end code which shows the category details when a category link is clicked.
    </div>
  </div>
  <div class='panel panel-default'>
    <div class='panel panel-heading'>
      Feature Three - Create a Service
    </div>
    <div class='panel panel-body'>
      Enable the user to creater a new service on the category detail page
    </div>
  </div>
  <div class='panel panel-default'>
    <div class='panel panel-heading'>
      Feature Four - Delete a Service 
    </div>
    <div class='panel panel-body'>
      Enable the user to delete a service on the category detail page.
    </div>
  </div>
</div>
