<div>
  <h2>GlamSquad Coding Challenge</h2>
  <div class='panel panel-default'>
    <div class='panel panel-heading'>
      Feature One
    </div>
    <div class='panel panel-body'>
      <ul>
        <li>add a server side route which returns a single category along with all of it's services.
        </li>
        <li>add a server side route which deletes a service from a category</li>
        <li>add a server side route which adds a service to a category</li>
    </div>
  </div>
  <div class='panel panel-default'>
    <div class='panel panel-heading'>
      Feature Two 
    </div>
    <div class='panel panel-body'>
      Create front end code which shows the category details when a category link is clicked.
    </div>
  </div>
  <div class='panel panel-default'>
    <div class='panel panel-heading'>
      Feature Three 
    </div>
    <div class='panel panel-body'>
      Enable the user to creater a new service on the category detail page
    </div>
  </div>
  <div class='panel panel-default'>
    <div class='panel panel-heading'>
      Feature Four 
    </div>
    <div class='panel panel-body'>
      Enable the user to delete a service on the category detail page.
    </div>
  </div>
</div>
